// out: ./style.css, compress: true, sourceMap: false

.passwordMeterScore {

    &0,
    &1,
    &2,
    &3,
    &4,
    & {
        margin-top: 0px;
        margin-bottom: 0px;
        height: 5px;
        background-size: 100% 100%;
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
        background-repeat: no-repeat;
        border-radius: 10px;
        width: 5%;
        transition: all 0.5s;
    }

    &0 {
        background-image: linear-gradient(0deg, rgb(207, 31, 31), rgb(207, 31, 31));
        width: 20%;
    }

    &1 {
        background-image: linear-gradient(0deg, rgb(207, 96, 31), rgb(207, 96, 31));
        width: 40%;

    }

    &2 {
        background-image: linear-gradient(0deg, rgb(207, 175, 31), rgb(207, 175, 31));
        width: 60%;

    }

    &3 {
        background-image: linear-gradient(0deg, rgb(116, 207, 31), rgb(116, 207, 31));
        width: 75%;
    }

    &4 {
        background-image: linear-gradient(0deg, rgb(31, 207, 90), rgb(31, 207, 90));
        width: 100%;

    }
}